<?xml version="1.0" encoding="utf-8"?>
<!--标准的XML文件的起始行，version='1.0'表明XML的版本，encoding='gb2312'表明XML文件的编码方式-->
<!--表明解析本XML文件的DTD文档位置，DTD是DocumentType Definition 的缩写,即文档类型的定义,XML解析器使用DTD文档来检查XML文件的合法性。
hibernate.sourceforge.net/hibernate-configuration-3.0dtd可以在Hibernate3.1.3软件包中的src\org\hibernate目录中找到此文件-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--声明Hibernate配置文件的开始-->
<hibernate-configuration>
    <!--表明以下的配置是针对session-factory配置的，SessionFactory是Hibernate中的一个类，这个类主要负责保存HIbernate的配置信息，以及对Session的操作-->
    <session-factory>
        <!--配置数据库的驱动程序，Hibernate在连接数据库时，需要用到数据库的驱动程序-->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!--设置数据库的连接url:jdbc\:oracle\:thin\:@localhost\:1521\:orcl其中localhost表示服务器名称，此处为本机，orcl是数据库名-->
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
        <!--链接数据库用户名-->
        <property name="hibernate.connection.username">disease</property>
        <!--链接数据库密码-->
        <property name="hibernate.connection.password">embed</property>
        <!--数据库连接池大小-->
        <property name="hibernate.connection.pool_size">500</property>
        <!--是否在后台显示Hibernate用到的SQL语句，开发时设置为true，便于差错，程序运行时可以在Eclipse的控制台显示Hibernate的执行Sql语句。项目部署后可以设置为false，提高运行效率-->
        <property name="hibernate.show_sql">false</property>
        <!--jdbc.fetch_size是指Hibernate每次从数据库取出并放到Statement中放入记录条数。-->
        <property name="jdbc.fetch_size">50</property>
        <!--jdbc.batch_size是指Hibernate批量插入,删除和更新时每次操作的记录数。BatchSize越大，批量操作的向数据库发送Sql的次数越少，速度就越快，同样耗用内存就越大-->
        <property name="jdbc.batch_size">20</property>
        <!--connection.useUnicode连接数据库时是否使用Unicode编码-->
        <property name="Connection.useUnicode">true</property>
        <!--connection.characterEncoding连接数据库时数据的传输字符集编码方式，最好设置为gbk，用gb2312有的字符不全-->
        <property name="connection.charcterEncoding">gbk</property>
        <!--hibernate.dialect 只是Hibernate使用的数据库方言,就是要用Hibernate连接那种类型的数据库服务器。-->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!--指定映射文件为-->
        <mapping resource="MeteorologicalStation.hbm.xml"/>
        <mapping resource="MeteorologicalInfo.hbm.xml"/>
    </session-factory>
</hibernate-configuration>

